@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-y: scroll;
}

.centered-absolute-text {
  @apply text-center font-bold absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full;
}

.banner-height {
  @apply h-[calc(100vh_-_20vh)] md:h-[calc(100vh_-_40vh_+_12.5vh)];
}
