@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* this is for debugging only */
/* * {
  outline: 1px solid #f00 !important;
} */

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

.centered-absolute-text {
  @apply text-center font-bold absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full;
}

.banner-height {
  @apply h-[calc(100vh_-_20vh)] md:h-[calc(100vh_-_40vh_+_12.5vh)];
}

.arrow {
  @apply box-border text-white hover:text-primary bg-primary text-4xl p-2 hover:bg-black transition-colors duration-200 cursor-pointer;
}

.whiteToPrimary {
  @apply text-white hover:text-primary transition-all duration-150 ease-linear;
}

/* Footer */

/* Slider */

.slider-container .slick-list {
  width: 85vw;
  margin: 0 auto;
  position: relative;
}

.slider-container .slick-dots {
  position: relative;
  bottom: 0;
}

.slick-dots li.slick-active button {
  transform: scale(150%);
}

.slick-track {
  margin-bottom: 1rem;
  /* overflow: hidden; */
}

.custom-slider-arrow {
  @apply absolute top-[20%]  flex items-center justify-center h-16 text-4xl text-center z-50 w-[10vw] md:w-[5vw] bg-black/50 opacity-0 hover:opacity-100 text-white transition ease-linear duration-300 cursor-pointer;
}
