.menu {
  :nth-child(1) {
    top: 28px;
  }
  :nth-child(2),
  :nth-child(3) {
    top: 18px;
  }
  :nth-child(4) {
    top: 8px;
  }

  &:hover {
    :nth-child(1) {
      transform: translateY(-1rem);
      opacity: 0;
    }
    :nth-child(2) {
      transform: rotate(45deg);
    }
    :nth-child(3) {
      transform: rotate(-45deg);
    }
    :nth-child(4) {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
}
